sfdbtools
.env
config/db_list_2.txt
config/db_list.txt
logs/dbscan/dbscan_background.pid
*.log*
logs/dbscan/dbscan_background.lock
*.tmp*
/backup/
/logs/
/scripts/dev_main_menu/
/scripts/saas_main_menu/
/scripts/sftr_sf6_main_menu/
/scripts/sftr_sf7_main_menu/
/scripts/build_run.sh
/scripts/mydumper.sh
/scripts/release_github.sh