backup:
    compression:
        type: gzip # Tipe kompresi: gzip, zstd, xz, zlib, pgzip
        level: 6 # Compression level dari 1 (tercepat, kompresi paling rendah) hingga 9 (paling lambat, kompresi paling tinggi)
        enabled: true
    mysqldump_args: -CfQq --max-allowed-packet=1G --hex-blob --order-by-primary --single-transaction --routines=true --triggers=true --opt
    exclude:
        # databases:
        #     - teguhth
        #     - dbsaas_host
        user: false
        system_databases: true
        data: false
        empty: true
    #     file : config/exclude_db_list.txt
    include:
        # databases: 
        #     - dbsf_biznet_dadfs
        #     - dbsf_biznet_jtrust
        #     - dbsf_biznet_mariadb
        file : config/db_list.txt
    cleanup:
        enabled: true
        schedule: 0 2 * * *
        days: 1
    encryption:
        enabled: true
        key: ""
    output:
        base_directory: /mnt/c/VM/NFS/sfDBTools/backups
        # NamePattern digunakan untuk menentukan pola penamaan file backup yang akan dihasilkan.
        # Pattern yang tersedia:
        # {database} - nama database
        # {timestamp} - timestamp saat backup dilakukan (format: YYYYMMDD_HHMMSS)
        # {client_code} - kode klien
        # {hostname} - nama host server database
        # {year} - tahun saat backup dilakukan (format: YYYY)
        # {month} - bulan saat backup dilakukan (format: MM)
        # {day} - hari saat backup dilakukan (format: DD)
        # {hour} - jam saat backup dilakukan (format: HH)
        # {minute} - menit saat backup dilakukan (format: MM)
        # {second} - detik saat backup dilakukan (format: SS)
        # Contoh penggunaan:
        # '{database}_{timestamp}_{hostname}' -> mydb_20231015_153045_dbserver1
        name_pattern: '{database}_{year}{month}{day}_{hour}{minute}{second}_{hostname}'
        structure:
            create_subdirs: true
            pattern: '{year}/{month}/{day}/'
        temp_directory: /tmp/sfDBTools_backup
        capture_gtid: true
        save_backup_info: true
    verification:
        compare_checksums: true
        disk_space_check: true
        verify_after_write: true
config_dir:
    database_profile: /etc/sfDBTools/config/db_profile
    database_list: /etc/sfDBTools/config/db_list
    mariadb_config_templates: config/templates/server.cnf
general:
    app_name: sfDBTools
    author: Hadiyatna Muflihun
    client_code: dataon
    locale:
        date_format: "2006-01-02"
        time_format: "15:04:05"
        timezone: Asia/Jakarta
    version: 1.0.0
    PrimaryDBPattern: 'dbsf_nbc_{hour}{minute}{second}_{hostname}'
log:
    format: text
    level: debug
    output:
        console:
            enabled: true
        file:
            dir: /var/log/sfDBTools
            enabled: true
            filename_pattern: sfDBTools_{date}.log
            rotation:
                compress_old: true
                daily: true
                max_size: 100MB
                retention_days: 7
    timezone: Asia/Jakarta
mariadb:
    binlog_dir: /mnt/nfs/mariadb/binlogs
    config_dir: /etc/my.cnf.d/server.cnf
    data_dir: /mnt/nfs/mariadb/data
    encryption_key_file: /etc/sfDBTools/key_maria_nbc.txt
    innodb_encrypt_tables: true
    log_dir: /mnt/nfs/mariadb/logs
    port: 3306
    server_id: 1
    version: 10.6.23
system_users:
    users:
        - sst_user
        - papp
        - sysadmin
        - backup_user
        - dbaDO
        - maxscale
